<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">

<!-- namespace/id는 dao impl에 있음 -->
   <select id="UserList" resultType="com.green.user.vo.UserVo" >
    SELECT USER_SEQ
		 , USER_NAME
		 , USER_EMP_NUM
		 , USER_BIRTH
		 , USER_ID
		 , USER_PW
		 , USER_TEL1
		 , USER_TEL2
		 , USER_DEP_NUM
		 , USER_NICK
		 , AUTH
		 , `LEVEL`
		 , JOIN_DATE
		 , UPDATE_DATE
	FROM USER_INFO;
  </select>
  
  <select id="loginChk" resultType="int">
  	  SELECT COUNT(*)
		FROM USER_INFO
		WHERE 1=1
		AND USER_ID = #{email}
		AND USER_PW  =#{password}
  </select>
  
  <insert id="UserInsert">
	    INSERT INTO joy0109.USER_INFO (
			USER_SEQ
		  , USER_NAME
		  , USER_EMP_NUM
		  , USER_BIRTH
		  , USER_ID
		  
		  , USER_PW
		  , USER_TEL1
		  , USER_TEL2
		  , USER_DEP_NUM
		  , USER_NICK
		  
		  , AUTH
		  , `LEVEL`
		  , JOIN_DATE
		  , UPDATE_DATE)
								
	VALUES(	(SELECT  aa.USER_SEQ 
			  FROM( select IFNULL(max(USER_SEQ)+1 , CONCAT(CURDATE()+0,'001')) as USER_SEQ
					  from USER_INFO where SUBSTR(USER_SEQ,1,8) =  CURDATE()+0
			) AS aa)
		,#{USER_NAME}
		,#{USER_EMP_NUM}
		,#{USER_BIRTH}
		,#{USER_ID}
	
		,#{USER_PW}
		,#{USER_TEL1}
		,#{USER_TEL2}
		,#{USER_DEP_NUM}
		,#{USER_NICK}
	
		,#{AUTH}
		,#{LEVEL}
		, NOW()
		, CURRENT_TIMESTAMP);
  </insert>
  
  
<!--   
  <select id="GetUser" 
    resultType="com.green.user.vo.UserVo">
  	SELECT id,name,tel FROM user_tbl
	where id = #{id}
  </select>
  
  <insert id="UserInsert">
        ( SELECT NVL(MAX(ID), 0) + 1 FROM USER_TBL ), 
    INSERT INTO USER_TBL (ID, NAME, TEL)
      VALUES ( 
        #{name}, 
        #{tel}   )
  </insert>
  
  
  <update id="UserUpdate">
  	UPDATE user_tbl
	SET NAME = #{name} , 
		 TEL = #{tel}
	WHERE ID= #{id}
  </update>
  
  <delete id="Delete">
  	DELETE FROM user_tbl 
	WHERE ID = #{id}
  </delete>
   -->
  
<!-- sql문 저장하는 공간 -->
  
</mapper>
