@charset "utf-8";

/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,nav,section,article,header,footer,main,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
body,input,select,textarea,button,img,fieldset {border:none;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
address,cite,code,em,i{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button,a {vertical-align:middle;}
u,ins,a{text-decoration:none;}
/* button { cursor: pointer;}  */

/* Normalize */
/* body { font-family: 'Malgun Gothic','맑은 고딕',dotum,'돋움', sans-serif; letter-spacing: -0.7px;} */
/* input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"], 
textarea { -webkit-appearance:none; -moz-appearance:none; appearance:none; -webkit-border-radius:0; outline:0;}
textarea { resize: none;}
select { appearance:none;}
select::-ms-expand { display:none;} */

/* Style */
/* html {height:100%; font-size: 14px;}
body {height:100%; line-height:1; color:#222; display: block;} */
a{ color:#222;}
p, li{word-break: keep-all;}
* {box-sizing: border-box;}
.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}
caption > div,
legend,
.hide {overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(0, 0, 0, 0);}
.skip { position: absolute; left: 0; right: 0; top:-100%; transition: all .5s; line-height: 5rem; background: #000; color:#fff; text-align: center; z-index: 100;}
.skip:focus { top: 0; }


/* login */
.login_wrap {height:100%; background: url("../img/bg_login.png") no-repeat 0 0 / 100% 637px; }
.login_container { padding-top:150px; }
.login_contents {width:940px; height:560px; background:#fff; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;margin:0 auto; padding:78px 0;display: flex; ;}
.input-box{width:587px;padding:0 50px; }
.input-box h1 {text-align: center;}
.input-box p {text-align: center; font-size: 34px; color: #929191; font-weight: bold; margin:34px 0 46px; }
.login_form input {display: block; width:100%; border-bottom: #848484 1px solid;height:50px;margin-top:8px; padding-left:34px}
.login_form input.login_id {background:url("../img/icon_id.png") no-repeat 0 14px}
.login_form input.login_pw {background:url("../img/icon_password.png") no-repeat 0 14px}
.login_form div.id_save {float:right}
.login_form input[type="checkbox"] {width:16px; height:16px; border:#848484 1px solid; border-radius: 2px; background:#f0f0f0;display: inline-block; }
.login_form input[type="checkbox"] + label {display: inline-block;padding:7px 0 0 6px;cursor: pointer;}
.login_form .btn_box {clear: both;padding-top:55px}
.login_form .btn_box a {display:inline-block;width:49.5%;line-height:55px;border-radius: 3px; color:#fff;font-size: 16px; font-weight: 600;text-align: center; }
.btn_login {background:#005caa;}
.btn_auth {background:#737373;}
.login_info {position:relative;width:calc( 100% - 587px );padding:15px 50px;text-align: center;}
.login_info::before {content: ''; position: absolute; left: 0; top: 0; display: block; width: 1px; height:100%; background: #dfdfdf;}
.login_info a {display:inline-block;width:100%;line-height:46px;border-radius: 3px; background:#e6e6e6; color:#222;font-size: 15px; font-weight: 600;text-align: center;margin-top:55px}
.login_info p {margin:20px 0 10px; color:#0078cc;font-weight: 600; font-size: 14px;}
.login_info span {font-size: 12px; font-weight: bold; color:#7f7f7f; }

/* footer login & main */
#footer {text-align: center;padding: 20px 0 40px;}
#footer p img {padding-right:30px}
#footer span {font-size: 11px;position: relative;color:#616161}
#footer span:before {content: ''; position: absolute; left: -15px; top: 1px;  display: block; width: 1px; height:16px; background: #d9d9d9;}

/* footer sub */
section.f-container {border-top:#e3e3e3 1px solid;}
.f-wrap {margin: 0 auto; width: 1200px;}
.footer { padding: 20px 0 20px;}
.footer p img {padding-right:30px}
.footer span {font-size: 11px;position: relative;color:#616161}
.footer span:before {content: ''; position: absolute; left: -15px; top: 1px;  display: block; width: 1px; height:16px; background: #d9d9d9;}

/* login tablet */
@media (max-width: 1199px) {
    .login_container { padding-top:90px; }
    .login_contents {width:520px; height:704px; background:#fff; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;margin:0 auto; padding:54px 0;display: block;}  
    .input-box{width:100%;padding:0 90px; }
    .input-box h1 img {width:309px}
    .input-box p {font-size: 28px;margin:18px 0 32px;}
    .login_form .btn_box {clear: both;padding-top:30px}
    .login_form .btn_box a {display:inline-block;width:49%;line-height:41px;border-radius: 3px; color:#fff;font-size: 16px; font-weight: 600;text-align: center; }
    .login_info {position:relative;width:100%;padding:42px 90px 0;text-align: center;display: block;}
    .login_info::before {display: none;}
    .login_info a {line-height:41px;margin-top:28px}
    
}

/* login mobile */
@media (max-width: 520px) {
    .login_wrap {height:100%; background: none}
    .login_container { padding-top:0 }
    .login_contents {width:100%; height:100%; background:#fff; border-radius:0; box-shadow:none;margin:0 auto; padding:50px 30px;display: block;} 
    .input-box{width:100%;padding:0; }
    .input-box h1 img {width:309px}
    .input-box p {font-size: 28px;margin:18px 0 32px;}
    .login_form .btn_box {clear: both;padding-top:30px}
    .login_form .btn_box a {display:inline-block;width:49%;line-height:41px;border-radius: 3px; color:#fff;font-size: 16px; font-weight: 600;text-align: center; }
    .login_info {position:relative;width:100%;padding:32px 0 0;text-align: center;display: block;}
    .login_info::before {display: none;}
    .login_info a {line-height:41px;margin-top:25px}
    #footer p img {padding-right:30px}
    #footer span {display:block; text-align: center;font-size: 11px;position: relative;color:#616161;margin-top:8px}
    #footer span:before {display: none;}
}


/* main & sub */
header {position:relative; width:100%; height:72px; background:#0d66c5;  }
header::after{content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 100%; height:6px; background: #004691; }
header .wrap {margin:0 auto; width:1200px; }
header .wrap h1 {float:left}
header .wrap h1 img { padding-top: 18px}
header .wrap .right {float:right; display: flex; line-height:66px;}
header .wrap .right .info {position: relative; margin-right: 45px; font-size: 14px; font-weight: bold;}
header .wrap .right .info p {position: absolute; top:1px; left:-50px;}
header .wrap .right .info .name { color: #fff; margin-right: 21px;}
header .wrap .right .info .name strong {display:inline-block; margin-right:2px}
header .wrap .right .info .place {color:#aae72a; position:relative }
header .wrap .right .info .place::before {content: ''; position: absolute; left: -12px; top: 3px; display: block; width: 1px; height:14px; background: #fff; }
header .wrap .right .setting {font-size: 12px; font-weight: bold;}
header .wrap .right .setting a {color:#fff; margin-left: 15px;}
header .wrap .right .setting a ~ a {border-left: 1px solid #fff; padding-left:15px;}
header .wrap .right .setting button { margin-left:15px; color:#fff; font-size: 11px; font-weight: bold; border:#fff 1px solid; background:#0d66c5; padding:2px 13px}


/* 메뉴 버튼 및 온메뉴  */
.toggler {display:none;}
.on_menu {display:none;}

@media (max-width: 1199px) {
    .on_menu {position:absolute;width:100%;display:none}
    .on_menu:after { content: '';position: fixed;top: 0;left: 0;display:block;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);z-index: 1;}
    .on_menu .top {position:absolute;top:0;left:0;width:100%;height:200px;background:#0d66c5;z-index: 50;}
    .on_menu .top .wrap {padding:30px 35px; box-sizing: border-box;}
    .on_menu .top .wrap .info {float:left}
    .on_menu .top .wrap .info p {display: inline-block;margin-right: 15px;}
    .on_menu .top .wrap .info .name { color: #fff; margin-right: 21px;}
    .on_menu .top .wrap .info .name strong {display:inline-block; margin-right:2px}
    .on_menu .top .wrap .info .place {color:#aae72a; position:relative }
    .on_menu .top .wrap .info .place::before {content: ''; position: absolute; left: -12px; top: 3px; display: block; width: 1px; height:14px; background: #fff; }
    .on_menu .top .wrap .setting {float:right;font-size: 12px; font-weight: bold; position: relative;margin-top:5px}
    .on_menu .top .wrap .btn_g {display:inline-block; border:#fff 1px solid;padding:2px 13px 5px;position:absolute;top:32px;right:120px}
    .on_menu .top .wrap .btn_g a {color:#fff; margin:1px 5px;}
    .on_menu .top .wrap .btn_g a ~ a {border-left: 1px solid #fff; padding-left:15px;}
    .on_menu .top .wrap .setting button {display:inline-block;width:21px;height:18px;margin-left:15px}
    .on_menu .top .wrap .setting button.logout {background: url(../img/icon_logout.png) no-repeat;}
    .on_menu .top .wrap .setting button.close {background: url(../img/icon_close.png) no-repeat 1px 1px;}
    .on_menu .top .wrap .quick_btn {width:100%;padding-top:35px;display:flex;justify-content:space-between;}
    .on_menu .top .wrap .quick_btn a {display:inline-block;width:49%;background:#e6e6e6;line-height: 69px;text-align: center;border-radius: 5px;font-size: 16px;font-weight: bold;} 
}

@media (max-width: 710px) {
    .on_menu .top .wrap {padding:25px 25px; position:relative}
    .on_menu .top .wrap .info {float:none;padding-top: 45px;}
    .on_menu .top .wrap .info p {margin-right: 15px;}
    .on_menu .top .wrap .setting {float:right;margin-top:-80px;}
    .on_menu .top .wrap .btn_g {position:absolute;top:28px;left:25px; padding:0 0 0;margin-right:25px;border:none}
    .on_menu .top .wrap .btn_g a {letter-spacing: -1.7px;margin:1px 3px;}
    .on_menu .top .wrap .quick_btn {padding-top:25px;}
    .on_menu .top .wrap .quick_btn a {display:inline-block;width:49.5%;background:#e6e6e6;line-height: 40px;text-align: center;border-radius: 0;font-size: 15px;font-weight: bold;} 
}

section.white {background-color: white;}
section.u-line {border-bottom: #e3e3e3 1px solid;}
section .wrap { margin: 0 auto; width:1200px;}
.banner {padding: 20px 0}
.banner ul {display: flex; justify-content: space-between; }
.banner ul li {margin-left:20px;width:100%;height:178px;}
.banner ul li:first-child {margin-left:0}
.banner ul li.ba01{background:#1fb25a}
.banner ul li.ba02{background:#8eba09}
.banner ul li.ba03{background:#baab09}
.banner ul li a {display: inline-block; width:100%; height:100%;}
.banner ul li img {float:left;margin:58px 0 0 55px;}
.banner ul li a .inner {display:block; padding:53px 0 0 170px}
.banner ul li a .inner p {font-size: 22px; font-weight: bold; color:#fff;letter-spacing: -1px; margin-bottom: 15px;}
.banner ul li a .inner br {display:none}
.banner ul li a .inner .move {display:block;text-align:left;width:104px;line-height:25px; border-radius: 25px; background: rgba(0, 0, 0, 0.3); color:#fff; font-size:12px;}
.banner ul li a .inner .move::before {content:url(../img/arrow.png);transform: translate(75px, 1px); display: inline-block;}

.pannel {padding:55px 0}
.pannel ul {display: flex; justify-content: space-between;margin-bottom:45px; box-sizing: border-box;}
.pannel ul li div {position: relative; display: inline-block;margin-left: 24px;}
.pannel ul li div:after {content: ''; position: absolute; top:-22px; left:0;display: block; width: 13px; height:3px; background: #287cd5; }
.pannel ul li span {font-size: 18px; font-weight: bold;}
.pannel ul li a {position:absolute; top:35px; left:50%; transform: translateX(-50%); color:#287cd5; font-size: 55px; font-weight: bold;} 

div.wback {background:#fff;margin:20px 0}
.wback .wrap {display:flex;height:300px}
.wback .count {display: flex;}
.wback .count li {position: relative;  width:280px; text-align: center;padding:30px 0 0;border-left:#f2f3f8 20px solid }
.wback .count li p {position:absolute; top:50%; left:50%;transform: translateX(-50%); font-size: 50px; color:#797979; font-weight: bold;}
.wback .count li p span {font-size: 20px;}
.wback .count li button {display:inline-block;position:absolute; bottom:50px;left:50%; transform: translateX(-50%);width:57px;line-height:18px;background:#cc0000; color:#fff; text-align: center;font-size: 11px;}
.wback .notice {border-left:#f2f3f8 20px solid; padding:30px 0 30px 40px;width:100% }
.wback .notice h2 {font-size: 20px;letter-spacing: -2px;margin-bottom: 16px;}
.wback .notice ul {border-top: #222 1px solid;padding-top:5px}
.wback .notice ul li {line-height:37px;font-size: 14px;font-weight: bold;}
.wback .notice ul li span {display:inline-block; }
.wback .notice ul li span.nor_icon {width: 28px;height:12px;background: url(../img/bullet_dot.png) no-repeat center;}
.wback .notice ul li span.new_icon {width: 28px;height:12px;background: url(../img/bullet_new.png);}
.wback .notice ul li span.col1 {font-size: 13px;margin:0 6px}
.wback .notice ul li span.col2 {color:#737373; font-size: 13px;width:70px; margin:0 3px;text-align: center;}
.wback .notice ul li span.col3 {float: right;}
.wback .notice ul li a {display: inline-block; width: 320px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

@media (max-width: 1199px) {
    header .wrap {width:100%; }
    header .wrap h1 {float:left}
    header .wrap h1 img { padding-top: 18px; padding-left:37px; width:263px}
    .toggler {display:inline-block; float:right; margin:17px 35px;width:30px; height:30px; background:#0d66c5;}
    .toggler-icon,
    .toggler-icon:before,
    .toggler-icon:after {position: relative; width:29px; height:2px;background:#fff;display:inline-block;vertical-align: top;}
    .toggler-icon:before,
    .toggler-icon:after {content:'';position: absolute;display:block;}
    .toggler-icon:before {top:10px;}
    .toggler-icon:after {top:20px;}
    header .wrap .right {display: none;}
    section .wrap { margin: 0 auto; width:100%}
    .banner {padding: 20px;box-sizing: border-box;}
    .banner ul li img {float:right;margin:90px 40px 0 0;}
    .banner ul li a .inner {display:block; padding:35px 0 0 35px;}
    .banner ul li a .inner p {white-space: nowrap;}
    .banner ul li a .inner .move {display:none;}
    .pannel {padding:55px 20px;box-sizing: border-box;}
    .pannel ul {margin-bottom:55px; }
    .pannel ul img {display:none}
    .wback .wrap {display:block;height:533px}
    .wback .count {display: flex;height:237px;}
    .wback .count li {position:relative;width:50%; text-align: left;padding:0 0 0 0;border-left:none;border-bottom:#f2f3f8 20px solid }
    .wback .count li:last-child {border-left:#f2f3f8 20px solid }
    .wback .count img {position:absolute; top: 25%;left:35px;}
    .wback .count li p {position:absolute; top:35%; left:unset;right:8%; transform: translateX(-10%); }
    .wback .count li button {display:inline-block;position:absolute; bottom:50px;left:48px; transform: translateX(-1%);width:57px;line-height:18px;background:#cc0000; color:#fff; text-align: center;font-size: 11px;}
    .wback .notice {border-left:none; padding:40px 40px 40px 40px;}
    .wback .notice h2 {font-size: 20px;letter-spacing: -2px;margin-bottom: 16px;}
    .wback .notice ul li a {width: calc( 100% - 240px )}
}

@media (max-width: 680px) {
    .banner ul li img {margin:100px 30px 0 0;}
    .banner ul li a .inner {display:block; padding:25px 0 0 15px;}
    .wback .count img {left:15px;}
    .wback .count li p {right:6%; transform: translateX(-1%);;letter-spacing: -2px;}
    .wback .count li button {left:28px;}
}

@media (max-width: 615px) {
    .banner ul li a .inner p {font-size: 19px; letter-spacing: -2px; }
}

@media (max-width: 520px) {
    .banner ul li a .inner br {display:unset}
    header {height:50px; background:#0d66c5;}
    header::after{height:5px;}
    header .wrap h1 img { padding-top: 12px; padding-left:20px; width:200px}
    .toggler { margin:10px 20px;width:24px; height:24px; }
    .toggler-icon,
    .toggler-icon:before,
    .toggler-icon:after {width:24px;}
    .toggler-icon:before {top:8px;}
    .toggler-icon:after {top:16px;}
    .banner {padding: 10px;}
    .banner ul li {margin-left:10px;height:112px;}
    .banner ul li img {float:right;width:38px; margin:65px 15px 15px 0;}
    .banner ul li a .inner {display:block; padding:20px 0 0 15px;}
    .banner ul li a .inner p {font-size: 17px; }
    .pannel {padding:20px 20px 10px;box-sizing: border-box;}
    .pannel ul {margin-bottom:0;flex-wrap:wrap;position:relative}
    .pannel ul:after {content: ''; position: absolute; top:117px; left:0;display: block; width: 100%; height:1px; background: #e3e3e3; }
    .pannel ul li {width:50%;height:118px;text-align: center;}
    .pannel ul li div {margin-left: 0;margin-top:20px}
    .pannel ul li:nth-child(3) {margin-top: 15px;}
    .pannel ul li:nth-child(4) {margin-top: 15px;}
    .pannel ul li div:after {top:-15px; left:50%;transform: translateX(-50%);}
    .pannel ul li span {font-size: 16px;}
    .pannel ul li a {font-size: 45px;} 
    div.wback {margin:10px 0}
    .wback .wrap {height:167px}
    .wback .count {height:167px;}
    .wback .count li {border-right:#f2f3f8 5px solid;border-bottom:none }
    .wback .count li:last-child {border-left:#f2f3f8 5px solid;border-right:none }
    .wback .count img {top:12%;left:50%;transform: translateX(-50%)}
    .wback .count li p {top:65%; left:50%;right:unset; transform: translateX(-50%); font-size: 40px; }
    .wback .count li button {display:none}
    .wback .notice {display:none;}
    .white.w-mo {background:none}
    
    
}

/* sub layout */
.container {position:relative;height:100%;border-left:#e3e3e3 1px solid;}
.t-menu {float: right;}
.t-menu li {display: inline-block;}
.t-menu li a {line-height: 55px;padding:0 25px;font-size: 16px; font-weight: bold;}
.lnb {float:left;width:199px;height:100%;}
.lnb div {padding:30px 0 20px}
.lnb div > ul {position:relative}
.lnb div > ul::after {position:absolute;content: ''; top:0; left:20px;width:160px;display: block; height:1px; background: #e3e3e3; }
.lnb div > ul > li > a {font-size: 15px; font-weight: bold;line-height: 40px;padding:0 20px}
.lnb div > ul > li > a.on {font-size: 17px;color:#095eb9}
.lnb div > ul > li > ul {background:#f7f8fa}
.lnb div > ul > li > ul > li > a {margin-left:15px;font-size: 14px;font-weight: bold;line-height: 40px;padding:0 20px; color:#555;position: relative;}
.lnb div > ul > li > ul > li > a:after {position:absolute;content: ''; top:48%; left:6px;width:7px;display: block; height:1px; background: #333;}
.lnb div > ul > li > ul > li > a.on {color:#095eb9}
.lnb div > ul > li > ul > li > ul {background: #eef1f4;}
.lnb div > ul > li > ul > li > ul > li > a {margin-left:26px;font-size: 14px;font-weight: bold;line-height: 40px;padding:0 20px; color:#555;position: relative;}
.lnb div > ul > li > ul > li > ul > li > a:after {position:absolute;content: ''; top:48%; left:8px;width:3px;display: block; height:3px; background: #333;}
.lnb div > ul > li > ul > li > ul > li > a.on {color:#095eb9}
.lnb-filter {display:none;}
.contents {float:right;width:1000px;min-height:745px; border-left:#e3e3e3 1px solid;padding:30px 0 50px 20px}
.contents h2 {font-size: 24px;letter-spacing: -1.6px;color:#494949}
.search {text-align: right;margin:5px 0 0 0}
.search label {font-size: 13px; font-weight: bold;margin-right:15px}
.search input.s-input {border:#c7c7c7 1px solid;width:230px;height: 30px;}
table.list {width: 100%;border-top:#555 2px solid;border-bottom:#ddd 1px solid;white-space:nowrap;}
table.list th {line-height:40px;background: #F2F2F2; border-top:#ddd 1px solid;} 
table.list td {line-height:40px;padding:4px 8px;border-top:#ddd 1px solid;text-align:center;} 
table.list td.al-l {text-align:left}
.table-desc {margin:20px 0 10px;}
.table-desc span {float:left;font-size: 13px;line-height:13px;color: #fe6600;margin-top:7px}
.exl-btn {float:right;}
.exl-btn button {font-size:12px;font-weight:bold; color:#fff; border: none; padding:0 12px 0 35px; height:23px;line-height:23px;background:#0d66c5 url(../img/bullet_excel_w.png) no-repeat 8px 3px}
.exp {margin:10px 0;text-align: right;}
.exp p {display:inline-block; border:#c7c7c7 1px solid;font-size: 12px;padding:0 9px 0 0}
.exp p span {background:#eaeaea;display: inline-block;padding:6px 9px;margin-right:9px}

/* 버튼들  */
/* [class*="btn-large"] {font-size:12px;font-weight:bold; color:#fff; border: none; padding:0 18px; height:30px;line-height:30px;}
.btn-large-b {background: #0d66c5;}
.btn-large-g {background: #6a6a6a; } */

/* 페이징 */
/*
.pagination-container {margin-top:20px;text-align: center;}
.pagination {display: inline-block;}
.pagination a {color: #757575;float: left;width:20px;height:20px;margin: 4px 8px;text-decoration: none;font-size: 13px;line-height:17px;}
.pagination a.indicator {font-size: 20px;width:20px;height:20px;line-height:14px;border: 1px solid #cbcbcb;background:#ebebeb }
.pagination a.active {background-color: #0d66c5;color: white;border: 1px solid #0d66c5;}
.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination a.indicator + a:not(.indicator) {margin-left: 5px;}
.pagination a:not(.indicator) + a.indicator {margin-left: 5px;}
*/


.subTitle {display: block;}
.subTitleText {display:none; font-size: 24px; letter-spacing: -1.6px; color: #fff;padding:22px 35px} 

@media (max-width: 1199px) {
    .f-wrap {margin:2auto; width:100%}
    .footer { padding: 20px 0 20px 20px;}
    .container {border-left:none}
    .t-menu {display:none}
    .lnb {display: none;}
    .contents {float:none;width:100%;min-height:745px; border-left:none;padding:20px 30px}
    .contents h2 {display: none;}
    .lnb-filter {display:block;height:50px;border-bottom:#e3e3e3 1px solid;}
    .lnb-filter div {display: inline-block;border-right:#e3e3e3 1px solid;padding:0 15px}
    .lnb-filter div select {width:100px;height:49px;line-height: 50px;background:#fff url(../img/arrow-sel.png) no-repeat center right}
    
    .tbl-sc {width:100%; overflow-x: scroll;}
    .subTitle {display:none;}
    .subTitleText {display:block;}
}

@media (max-width: 560px) {
    .contents {padding:20px 20px}
    .table-desc span {display: none;}
    .f-container {display: none;}
  
}
@media (max-width: 520px) {
    .subTitleText {padding:12px 20px} 
}
@media (max-width: 430px) {
    .lnb-filter div select {width:95px;height:49px;line-height: 50px;}
    .lnb-filter div {padding:0 5px}
    .search input.s-input {border:#c7c7c7 1px solid;width:205px;height: 30px;}
   
}